<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form action="">
                    <label>Titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control">
                    <br>
                    <label>Pertunta</label>
                    <textarea placeholder="Escreva aqui a sua pergunta" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer.ejs') %>