body{
    background-color: azure;
}

#formulario-pergunta{
    margin-top: 5vh;
}

footer{
    width: 100%;
    bottom: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}